@action-links-width: 80px;
@menu-small-width: 300px;
@menu-medium-width: 400px;
@menu-large-width: 500px;

@admin-background-color: #2d353b;
@text-color: #a8abae;
@link-color: #7acbe2;
@button-color: #4479BA;


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

// @font-face {
//   font-family: 'Raleway';
//   font-style: normal;
//   font-weight: 200;
//   src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
// }
// @font-face {
//   font-family: 'Raleway';
//   font-style: normal;
//   font-weight: 300;
//   src: local('Raleway Light'), local('Raleway-Light'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/-_Ctzj9b56b8RgXW8FArib3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
// }
// @font-face {
//   font-family: 'Raleway';
//   font-style: normal;
//   font-weight: 500;
//   src: local('Raleway Medium'), local('Raleway-Medium'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/CcKI4k9un7TZVWzRVT-T873hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
// }
// @font-face {
//   font-family: 'Raleway';
//   font-style: normal;
//   font-weight: 600;
//   src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/xkvoNo9fC8O2RDydKj12b73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
// }
// @font-face {
//   font-family: 'Raleway';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Raleway Bold'), local('Raleway-Bold'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/JbtMzqLaYbbbCL9X6EvaI73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
// }

// Utility classes
.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.centered {
  text-align: center;
}

// Set font and standard element styles throughout admin-related elements
.azimuth-admin-panel, .azimuth-block-zone-toolbar, .no-blocks {
  h1,h2,h3,h4,h5,h6,p,table {
    font-family: 'Raleway', sans-serif;
    color: #222;
    font-size: 12px;
  }
  h1 { font-size: 24px; }
  h2 { font-size: 22px; }
  h3 { font-size: 20px; }
  h4 { font-size: 18px; }
  h5 { font-size: 16px; }
  h6 { font-size: 14px; }
  p { margin-bottom: 5px; }
  label {
    padding: 15px 0 7px 0;
  }
}


.azimuth-container {
  .azimuth-admin-panel {

    display: none;

    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    overflow: auto;
    z-index: 100;

    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);

    -webkit-box-shadow: 2px 0px 2px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    2px 0px 2px rgba(50, 50, 50, 0.25);
    box-shadow:         2px 0px 2px rgba(50, 50, 50, 0.25);

    .action-links {
      background-color: @admin-background-color;
      float: left;
      margin: 0;
      padding-top: 12px;
      width: @action-links-width;
      height: 100%;

      li {
        text-align: center;

        .icon {
          margin: 0 auto;
          font-size: 22px;
        }

        a {
          font-size: 10px;
          color: @text-color;
        }

        p {
          font-size: 10px;
          font-family: "Raleway-Bold";
          color: @text-color;
        }

        &:hover, &.active {
          border-left: 2px solid @link-color;

          a {
            display: block;
            width: 76px;
          }
        }
      }
    }

    .admin-view-container {
      background-color: white;
      float: left;
      display: none;
      height: 100%;

      .admin-view {
        height: 100%;
        overflow: auto;
        padding: 15px;
      }

      table {
        width: 100%;
      }

      .azimuth-form-section {
        border-bottom: 1px solid #eee;
        padding-bottom: 7px;
        margin-bottom: 7px;

        &:last-child {
          border-bottom: 0px;
        }
      }

      .metadata-widget {
        .selectize-control {
          width: 100px;
        }
        .meta-value {
          margin-top: 8px;
          width: 200px;
          font-size: 11px;
        }

        .add-meta-tag, .remove-meta-tag {
          line-height: 30px;
        }
      }
      .navigation, .user-list {
        h2 {
          display: inline-block;
          margin: 0 20px 0 0;
          vertical-align: middle;
        }
      }
    }
  }

  .contents-container {
    // margin-left: @action-links-width;
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.3s;
  }

  &.menu-open {

    .azimuth-admin-panel {
      display: block;
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    .admin-view-container {
      display: none;
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    .contents-container {
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      -webkit-transform: translate3d(@action-links-width, 0, 0);
      transform: translate3d(@action-links-width, 0, 0);
    }

    &.menu-small {
      .contents-container {
        -webkit-transform: translate3d((@action-links-width + @menu-small-width), 0, 0);
        transform: translate3d((@action-links-width + @menu-small-width), 0, 0);
      }
      .admin-view-container {
        display: block;
        width: @menu-small-width;
      }
    }
    &.menu-medium {
      .contents-container {
        -webkit-transform: translate3d((@action-links-width + @menu-medium-width), 0, 0);
        transform: translate3d((@action-links-width + @menu-medium-width), 0, 0);
      }
      .admin-view-container {
        display: block;
        width: @menu-medium-width;
      }
    }
    &.menu-large {
      .contents-container {
        -webkit-transform: translate3d((@action-links-width + @menu-large-width), 0, 0);
        transform: translate3d((@action-links-width + @menu-large-width), 0, 0);
      }
      .admin-view-container {
        display: block;
        width: @menu-large-width;
      }
    }

  }
}

.azimuth-block-edit-panel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 5px;
  background-color: rgba(200, 200, 200, 0.5);
  .edit-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -48px;
    opacity: 0.9;
    background: white;
    border-radius: 4px;
    li {
      display: inline;
      a {
        color: #7acbe2;
      }
    }
  }
}

.azimuth-block-zone {
  .add-block {
    position: absolute;
    left: 100%;
  }

  .azimuth-block-zone-toolbar {
    background: #2d353b;
    padding: 5px;
    margin-bottom: 7px;

    h4 {
      color: @text-color;
      display: inline;
      margin: 5px;
    }
    a {
      color: @link-color;
    }
  }

  .no-blocks {
    padding: 50px;
    border: 1px dotted #a8abae;
    text-align: center;
  }
}

.azimuth-button {
  font-family: 'Raleway', sans-serif;
  position: relative;
  padding: 10px 15px;
  display: inline-block;
  background: @button-color;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px @admin-background-color;

  i {
    font-size: .8em;
    margin-right: 10px;
  }

  &:hover {
    box-shadow: 0 1px @admin-background-color;
    top: 2px;
    color: #fff;
  }

  &.alert {
    background: #EB3E3E;
  }
  &.text {
    color: @button-color;
    background: none;
    box-shadow: none;
    &:hover {
      margin-top: 0px;
    }
  }
  &.small {
    padding: 6px 8px;
    font-size: .8em;
  }
}

// Themeing for selectize widget
.selectize-control.single, .selectize-control.multi {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0;

  .selectize-input {
    background: none;
    input {
      height: 16px;
    }
  }
}
.selectize-control.multi .selectize-input [data-value] {
  background: @button-color;
  -webkit-box-shadow: none;
  box-shadow: none;
}


// Custom Modals
.azimuth-modal {
  width: 100%;
  max-height: 80%;
  top: -100%;
  left: 0;
  position: fixed;
  padding: 2em;
  background-color: white;
  z-index: 1;
  overflow: auto;

  -webkit-box-shadow: 3px 3px 8px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    3px 3px 8px rgba(50, 50, 50, 0.75);
  box-shadow:         3px 3px 8px rgba(50, 50, 50, 0.75);

  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;

  &.open {
    top: 0;
  }

  .modal-body {
    margin-bottom: 30px;
  }
}

.azimuth-modal-bg {
  display: none;
  background: rgba(50, 50, 50, 0.75);
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;

  &.open {
    display: block;
  }
}

/* Page metadata */
#meta_tags {
  legend {
    i {
      text-shadow: 2px 2px 3px #aaa;

      &:hover {
        text-shadow: none;
        text-decoration: none;
      }
    }
  }
  .add-meta-tag, .remove-meta-tag {
    i {
      font-size: 1.4em;
      text-shadow: 2px 2px 3px #aaa;

      &:hover {
        text-shadow: none;
        text-decoration: none;
      }
    }
  }
}

.azimuth-table {
  &.users-table {
    margin-top: 20px;
  }
}
