<template name="metadata">
  <div class="metadata-widget">
    <label class="control-label" for="contents">{{label}}</label>
    {{#if current_fields}}

      <table>
        <thead>
          <tr>
            <th>Tag</th>
            <th>Value</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each current_fields}}
            <tr>
              <td class="meta-key-existing">{{key}}</td>
              <td class="meta-value-existing">{{value}}</td>
              <td>
                <a href="#" class="remove-meta-tag"><i class="icon icon-cross"></i></a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    {{/if}}
    <div class="add-field">
      <div>
        <label>Add a field</label>
        <select name="meta_key" class="meta-key">
          {{#each metadata_field_list}}
            <option value="{{meta_key}}">{{meta_name}}</option>
          {{/each}}
        </select>
      </div>
      <div>
        <input type="text" class="meta-value">
      </div>
      <div>
        <a href="#" class="add-meta-tag"><i class="icon icon-plus"></i></a>
      </div>
    </div>
  </div>
</template>
