<template name="assets">
  <div class="assets">
    <h2>Assets</h2>
    <div class="file-upload-container">
      <label>Select file(s) to upload:</label>
      <input name="files" type="file" class="fileUploader" multiple>
    </div>
    <table class='azimuth-table file-list'>
      {{#each files}}
        <tr>
          <td>
            <a href="{{cfsFileUrl 'default'}}">
              <img src="{{imageUrlOrDefault 'default'}}">
            </a>
          </td>
          <td>
            <a href="{{cfsFileUrl 'default'}}">{{filename}}</a>
            <br />
            <span class="file-date">{{humanReadableTime uploadDate}}</span>
            <span class="file-size">{{cfsFormattedSize}}</span>
          </td>
          <td>
            <a class="delete-file remove" href="#"><i class="icon-cross"></i></a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td class='no-files'>No files uploaded.</td>
        </tr>
      {{/each}}
    </table>
  </div>
</template>
