<template name="navigation">
  <div class="navigation">
    <h1>Navigation</h1>
    <br /><br />

    <h4 class="inline">Header Navigation</h4>
    <a class="azimuth-button add-link small text"><i class="icon icon-plus"></i>&nbsp;Add link</a>
    <div class="header-dd dd" id="header">
      {{#if headerNav}}
        {{#with headerNav}}
          {{>navigation_root}}
        {{/with}}
      {{else}}
        <div class="dd-empty">Drag pages here to add them to header navigation.</div>
      {{/if}}
    </div>
    <div class="clear"></div>
    <h4 class="inline">Footer Navigation</h4>
    <a class="azimuth-button add-link small text"><i class="icon icon-plus"></i>&nbsp;Add link</a>
    <div class="footer-dd dd" id="footer">
      {{#if footerNav}}
        {{#with footerNav}}
          {{>navigation_root}}
        {{/with}}
      {{else}}
        <div class="dd-empty">Drag pages here to add them to footer navigation.</div>
      {{/if}}
    </div>
  </div>

  <div class="azimuth-modal-container" id="addLinkModal">
    <div class="azimuth-modal">
      <div class="modal-header">
        <h3>Add Link</h3>
      </div>
      <div class="modal-body">
        <form>
          <h5>Existing Page</h5>
          <select id="existingPage" placeholder="Select an existing page">
            <option>Select an existing page</option>
            {{#each allPages}}
            <option value="{{slug}}">{{slug}}</option>
            {{/each}}
          </select>

          <h5>Custom URL</h5>
          <label>URL</label>
          <input type="text" class="form-control link-url" value=''>
          <label>Title</label>
          <input type="text" class="form-control link-title" value=''>
        </form>
      </div>
      <div class="azimuth-buttons clear">
        <a class="azimuth-button text left cancel close">Cancel</a>
        <a class="azimuth-button right add-link-confirm alert"><i class="icon icon-plus"></i>Add</a>
      </div>
    </div>
    <div class="azimuth-modal-bg close"></div>
  </div>

  <div class="azimuth-modal-container" id="editLinkModal">
    <div class="azimuth-modal">
      <div class="modal-header">
        <h3>Edit Link</h3>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <h4>Need to populate with link values</h4>
            <label>URL</label>
            <input type="text" class="form-control link-url" value=''>
          </div>
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control link-title" value=''>
          </div>
        </form>
      </div>
      <div class="azimuth-buttons clear">
        <a class="azimuth-button text left cancel close">Cancel</a>
        <a class="azimuth-button right edit-link-confirm alert"><i class="icon icon-checkmark"></i>Save</a>
      </div>
    </div>
    <div class="azimuth-modal-bg close"></div>
  </div>

  <div class="azimuth-modal-container" id="deleteLinkModal">
    <div class="azimuth-modal">
      <div class="modal-header">
        <h3>Delete Link</h3>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this link?</p>
      </div>
      <div class="azimuth-buttons clear">
        <a class="azimuth-button text left cancel close">Cancel</a>
        <a class="azimuth-button right delete-link-confirm alert"><i class="icon icon-cross"></i>Delete</a>
      </div>
    </div>
    <div class="azimuth-modal-bg close"></div>
  </div>

</template>

<template name="navigation_root">
  <ol class="dd-list">
    {{#each this}}
      {{#if children}}
        <li class="dd-item" data-url="{{url}}" data-title="{{title}}" data-id="{{_id}}">
          <div class="dd-handle">{{title}}</div><div class="edit-link-container"><a href="#" class="edit-link"><i class='icon icon-document-edit'></i></a></div><div class="edit-link-container"><a href="#" class="delete-link"><i class='icon icon-cross'></i></a></div>
            {{>navigation_child}}
        </li>
      {{else}}
        <li class="dd-item" data-url="{{url}}" data-title="{{title}}" data-id="{{_id}}">
          <div class="dd-handle">{{title}}</div><div class="edit-link-container"><a href="#" class="edit-link"><i class='icon icon-document-edit'></i></a></div><div class="edit-link-container"><a href="#" class="delete-link"><i class='icon icon-cross'></i></a></div>
        </li>
      {{/if}}
    {{/each}}
  </ol>
</template>

<template name="navigation_child">
  <ol class="dd-list">
    {{#each children}}
      {{#if children}}
        <li class="dd-item" data-url="{{url}}" data-title="{{title}}" data-id="{{_id}}">
          <div class="dd-handle">{{title}}</div><div class="edit-link-container"><a href="#" class="edit-link"><i class='icon icon-document-edit'></i></a></div><div class="edit-link-container"><a href="#" class="delete-link"><i class='icon icon-cross'></i></a></div>
            {{>navigation_child}}
        </li>
      {{else}}
        {{#with child}}
        <li class="dd-item" data-url="{{url}}" data-title="{{title}}" data-id="{{_id}}">
          <div class="dd-handle">{{title}}</div><div class="edit-link-container"><a href="#" class="edit-link"><i class='icon icon-document-edit'></i></a></div><div class="edit-link-container"><a href="#" class="delete-link"><i class='icon icon-cross'></i></a></div>
        </li>
        {{/with}}
      {{/if}}
    {{/each}}
  </ol>
</template>