<template name="site_settings">
  <div class="site-settings">
    <h3>Site Settings</h3>
    <div class="row">
      {{#with settings}}
        <form id="siteSettingsForm">
          <div class="row">
            <label>Site Name</label>
            <input type="text" id="siteName" name="siteName"  value="{{siteName}}" placeholder="Site Name">
          </div>

          <div class="row">
            <label>Site Logo URL</label>
            <input type="text" id="logoUrl" name="logoUrl"  value="{{logoUrl}}" placeholder="Logo URL">
          </div>

          <div class="row">
            <label>Site Index Page</label>
            <select name="indexPage" id="indexPage">
              {{#each pages}}
              <option value="{{slug}}" {{#if indexPageEquals slug}}selected="selected"{{/if}}>{{title}}</option>
              {{/each}}
            </select>
          </div>

          <div class="row">
            <label>Header Settings</label>

            <label class="checkbox-label" for="showLoginInHeader">
              <input id="showLoginInHeader" name="showLoginInHeader" {{#if showLoginInHeader}}checked="checked"{{/if}} type="checkbox" /> Show login menu in header
            </label>
            <label class="checkbox-label" for="addNewPagesToHeader">
              <input id="addNewPagesToHeader" name="addNewPagesToHeader" {{#if addNewPagesToHeader}}checked="checked"{{/if}} type="checkbox" /> Add new pages to header by default
            </label>
            <label class="checkbox-label" for="openRegistration">
              <input id="openRegistration" name="openRegistration" {{#if allowUserRegistration}}checked="checked"{{/if}} type="checkbox" /> Open registration to the public
            </label>
          </div>

          <div class="row">
            <label>Footer Settings</label>
            <input type="text" id="footerMessage" name="footerMessage"  value="{{footerMessage}}" placeholder="Footer Message (e.g. copyright)">
            <label class="checkbox-label" for="addNewPagesToHeader">
              <input id="addNewPagesToFooter" name="addNewPagesToFooter" {{#if addNewPagesToFooter}}checked="checked"{{/if}} type="checkbox" /> Add new pages to footer by default
            </label>
          </div>

          <div class="row">
            <input id="savePage" type="submit" class="button" value="Save" />
          </div>
        </form>
      {{/with}}
    </div>
  </div>
</template>