<template name="new_page">
  <div class="container site-settings">
    <div class="row">
      <div class="large-10 columns">
        <h2>New Page</h2>
        <form class="form-horizontal" id="newPageForm">
          <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
              <input type="text" class="new-page-title" name="title" placeholder="Page Title">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="title">Slug</label>
            <div class="controls">
              <input type="text" class="new-page-slug" name="slug" placeholder="Page Slug">
            </div>
          </div>

           <div class="control-group">
            <div class="controls">
              <input type="submit" class="submit-new-page button" value="Save" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
