<template name="new_page">
  <h3>New Page</h3>
  <form class="form-horizontal" id="newPageForm">
    <label class="control-label" for="title">Title</label>
    <input type="text" class="new-page-title" name="title" placeholder="Page Title">

    <label class="control-label" for="title">Slug</label>
    <input type="text" class="new-page-slug" name="slug" placeholder="Page Slug">

    <div class="azimuth-buttons">
      <a class="cancel">Cancel</a>
      <a class="submit">Save</a>
    </div>
  </form>
</template>
