<template name="page_edit_bottom">
              <!-- <div class="control-group">
                <label class="control-label" for="parent">Parent</label>
                <div class="controls">
                  <select id="parent">
                    <option val="0">None</option>
                  </select>
                </div>
              </div> -->

              <div class="control-group">
                <div class="controls">
                  <input id="savePage" type="submit" class="button" value="Save" />
                  <button id="deletePage" class="button button-link">Delete Page</button>
                </div>
              </div>
            </form>
        &nbsp;
      </div>
    </div>
  </div>

  <div class="azimuth-modal" id="deletePageModal">
    <div class="modal-header row">
      <div class="large-12 columns"><h3 id="myModalLabel">Delete Page</h3></div>
    </div>
    <div class="modal-body row">
      <div class="large-12 columns">Are you sure you want to delete this page? This action cannot be undone.</div>
    </div>
    <div class="modal-footer row">
      <div class="large-2 columns"><a href="#" class="button secondary close">Cancel</a></div>
      <div class="large-2 large-offset-8 columns"><a href="#" class="delete-page button alert">Delete</a></div>
    </div>
  </div>
</template>
